<%- include('partials/header.ejs') %>

<div class="details-words">

    <div class="overview-profil">
        <h2 id="overview-title">Sommaire de la partie: </h2>
        <div class="container-overview">
            <div class="overview-category">
                <p>Langage:</p>
                <p>Difficulté:</p>
                <p>Date:</p>
                <p>CPM:</p>
                <p>Type:</p>
            </div>
            <div class="overview-category small-stat-result">
                <p><%= game.language  %> </p>
                <p><%=  game.difficulty %> </p>
                <p><%= game.time %> </p>
                <p><%= game.cpm %> </p>
                <p><%= game.type %> </p>
            </div>
        </div>
        
    </div>


    <% game.words.forEach(element => { %>
    <div class="one-word">
        <div class="one-word-info">
            <p>Temps: <%= (element.end-element.start)/1000 %> </p>
            <p>CPM: <%= (element.cpm / element.word.length).toFixed(2)  %> </p>
            <div class="one-word-word">

                <% element.word.forEach(letter => { %>
                <p><%= letter.char  %> </p>
                <% }) %>
            </div>
        </div>
        <div class="letter-word">
            <% element.word.forEach(letter => { %>
            <p class="char <%= (letter.color) != "rgb(212, 212, 25)" ? letter.color:"yellow" %>"><%= letter.char  %>
            </p>
            <% }) %>
        </div>

    </div>
    <% }) %>
</div>

</body>

</html>