<%- include('partials/header.ejs') %>

<script type ="module" src="/javascripts/history.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script id="cpm" type="application/json"><%= cpm %> </script>
<script id="date" type="application/json"><%= date %> </script>
<script id="player" type="application/json"><%= player %></script>

<div class="container-history">
    <div class="player-info">

        <div class="info"></div>
            <p> Nom d'utilisateur: <%= player.username %> </p>
            <p> Nombre de jours depuis la création:  <%= player.timePlayed %> </p>
        <div class="language-count">
            <% count.forEach(element => { %>
                <div class="one-count">
                    <img src="/images/language/<%= element._id.language %>.png"  alt="">
                    <p><%= element.total %> </p>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="player-stats">
        <div class="player-game-played">

            <div class="game" id="headers" data=<%= game %>>
                <p>Date</p>
                <p>Type</p>
                <p>Langage</p>
                <p>Difficulté</p>
                <p>CPM</p>
                <p>Stats g/c/m</p>
            </div>
        
        
            <% game.forEach(element => { %>
                <a href=<%= element.url %> >
                    <div class="game">
                        <p><%= `${element.time.getDate()}/${element.time.getMonth()+1}/${element.time.getFullYear()}` %></p>
                        <p><%= element.type %> </p>
                        <p><%= element.language %> </p>
                        <p><%= element.difficulty %> </p>
                        <p><%= element.cpm %> </p>
                        <p><%= `${element.stats['good']}/${element.stats['corrected']}/${element.stats['wrong']}` %> </p>
                    </div>
                </a>
            <% }) %>
        </div>
        <div>
            <canvas id ="chart" width="600" height="400"></canvas>
        </div>
        
    </div>
</div>    

</body>
    </html>