<%- include('partials/header.ejs') %>

<script src="/javascripts/preGame.js"></script>
  
<div class="container-pregame">
    <div class="container-items">
        <% language.forEach(element => { %>
            <div class="language">
                <img src="/images/language/<%= element %>.png" alt= <%= element %> >
                <p><%= element %> </p>
                
            </div>
        <% }) %>
    </div>
    
    <div class="container-items">
        <% difficulty.forEach(element => { %>
            <div class="difficulty">
                <img src="/images/difficulty/<%= element %>.png" alt= <%= element %> >
                <p><%= element %> </p>
                
            </div>
        <% }) %>
    
    </div>
    
    <Button id="btnStartGame" type="submit" onclick="location.href='/game'">Commencer</Button>
</div>




</body>
</html>