<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Type: <%= result['type'] %> </p>
    <p> Temps: <%= result['time'] %> </p>
    <p> Caractère par minute: ~<%= result['cpm'] %> </p>
    <p> Language: <%= result['language'] %> </p>
    <p> Difficulté: <%= result['difficulty'] %> </p>
    <a href="/home">Retour au menu</a>
</body>
</html>