<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet" />
    <title>Document</title>
</head>
<body class="body-result">
    <div class="container-result">
        <h1>Fin de partie</h2>

        <% if (result.words.length > 0) { %>
        
            <p>Vous avez écrit <b><%= result['words'].length %> </b> mot(s)</p>

            <div class="result-stats">
                <div class="one-result-stat">
                    <div class="result-stats-circle" id="result-wrong"></div>
                    <p><%= result.stats.wrong %> </p>
                    <p>Erreur</p>
                </div>
                <div class="one-result-stat">
                    <div class="result-stats-circle" id="result-good"></div>
                    <p><%= result.stats.good %> </p>
                    <p>Parfait</p>
                </div>
                <div class="one-result-stat">
                    <div class="result-stats-circle" id="result-corrected"></div>
                    <p><%= result.stats.corrected %> </p>
                    <p>Corrigé</p>
                </div>
            </div>
        
        <% } else { %>
            <p>Vous avez écrit aucun mot. Meilleure change la prochaine fois.</p>
        <% } %> 
        <hr>
        <div class="result-overview">
            <div class="overview-category">
                <p>Langage:</p>
                <p>Difficulté:</p>
                <p>Date:</p>
                <p>CPM:</p>
                <p>Type:</p>
            </div>
            <div class="overview-category">
                <p><%= result.language %>  </p>
                <p><%= result.difficulty %>  </p>
                <p><%= `${result.time.getDate()}/${result.time.getMonth()+1}/${result.time.getFullYear()}` %>  </p>
                <p><%= result.cpm %>  </p>
                <p><%= result.type %>  </p>
            </div>
        </div>
        <hr>
        <a href="/home" class="button-link" id="result-return-btn">Retour</a>
        <!-- 

        <div class="result-stats">
        <% if (result['type'] == "adventure") { %>
         
            <p>Vous avez écrit <%= result['words'].length %> mot(s)</p>
        
        <% } else { %>
             
        
            <div class="result-stats-circle" id="result-wrong">
                <%= result['stats']['wrong'] %>
            </div>
            <div class="result-stats-circle"  id="result-corrected">
                <p><%= result['stats']['corrected'] %> </p>
            </div>
            <div class="result-stats-circle"  id="result-good">
                <p><%= result['stats']['good'] %> </p>
            </div>
            
        </div>
        <% } %>
         
        <% if (result['type'] == "normall") { %>
            <% if ( result['stats']['wrong']  == 0 ) { %>
                <p>Bravo! Vous avez aucune erreur! Vous êtes prêt pour essayer le mode aventure</p>

            <% } else if (result['stats']['wrong'] < 3) { %>
                <p>Félicitation! Vous avez seulement <%= result['stats']['wrong'] %> erreurs! </p>
            <% } else { %>
                <p>Meilleure chance la prochaine fois</p>
                <% } %>
        <% } %> -->



         
          


    </div>
    
</body>
</html>